.navbar {
    display: flex;
    align-items: center; /* Vertically centers the items */
    justify-content: space-between;
    padding: 5px 5px;
    background-color: #f8f9fa; /* Light background for contrast */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  }
  
  .logo {
    /* Add slight margin if needed */
  }
  
  .logo img {
    height: 50px; /* Logo size */
    width: 50px;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
  }
  
  .nav-item {
    display: flex;
    flex-direction: column; /* Stack image above text */
    align-items: center; /* Center align the items */
    margin: 0 5px; /* Space between nav items */
    text-decoration: none;
    font-size: 14px;
    color: #333;
    transition: color 0.3s; /* Smooth color transition */
  }
  
  .nav-item img {
    height: 20px; /* Icon size */
    width: 20px; 
    margin-bottom: 2px; /* Space between image and text */
  }
  
  .nav-links a {
    text-decoration: none;
    color: #333;
  }
  
  .nav-links a:hover {
    color: #007BFF; /* Change color on hover */
  }
  
  .auth-button {
    background-color: #007BFF;
   color: white !important;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 20px; /* Rounded button */
    transition: background-color 0.3s; /* Smooth transition */
  }
  
  .auth-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  