.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    background-color: #f0f0f0; /* Light background for contrast */
    padding: 0 20px; /* Add some padding for smaller screens */
    box-sizing: border-box; /* Include padding in width calculation */
}

.profile-image {
    border-radius: 50%;
    height: 100px; /* Adjust as needed */
    width: 100px; /* Adjust as needed */
    display: block; /* Center the image */
    margin: 20px auto; /* Centering */
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 400px; /* Maximum width for larger screens */
    width: 100%; /* Full width for smaller screens */
    box-sizing: border-box; /* Include padding in width calculation */
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    /* margin-bottom: 15px; */
    width: 100%; /* Full width for input groups */
    display: flex;
    flex-direction: column; /* Stack label and input */
    align-items: center; /* Center children */
}

.input-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input {
    padding: 10px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    transition: border 0.3s;
    width: 80%; /* Adjust width of input */
}

.input-group input:focus {
    border-color: #007bff;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.message {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.message a {
    color: #007bff;
    text-decoration: none;
}

.message a:hover {
    text-decoration: underline;
}

.OR {
    margin-top: 20px;
    margin-left: 30px !important;
}



/* Responsive styles */
@media (max-width: 480px) {
    .login-container {
        padding: 20px; /* Reduce padding for smaller screens */
    }
}
