
  
  .hero-section {
    height: 60vh;
    background-image: url("../../Images/kaitlyn-baker-vZJdYl5JVXY-unsplash.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
  }
  
  .hero-text-section {
    margin: 4rem;
  }
  
  .hero-text-section h1 {
    font-size: 35px;
    font-weight: 800;
  }
  
  .job-offers {
    margin: 2rem 4rem;
    display: flex;
    justify-content: space-between;
  }
  
  .job-section {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 4rem;
  }
  
  .job {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    padding: 1rem;
    width: calc(33% - 20px);
  }
  
  .job-title {
    display: flex;
    justify-content: space-between;
  }
  
  .job-location {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
  }

 .job-location p{
    font-weight: bold;
  }
  
  .job-description {
    margin-top: 20px;
    color: gray;
  }
  
  .feature-companies {
    margin: 2rem 4rem;
  }
  
  .companies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .rating{
    display: flex;
    flex-direction: column;
  }
  
  .company-list {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    padding: 1rem;
    width: calc(20% - 20px);
    text-align: center;
  }

  .company img{
    width: 100px;
    height: 80px;
  }
  
  .clt-section {
    background-image: url("../../Images/headway-5QgIuuBxKwM-unsplash.jpg");
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 3rem;
    color: white;
  }
  
  .email-container {
    display: flex;
    align-items: center;
  }
  
  .email-container input {
    margin-right: 10px;
    padding: 10px;
    border: none;
    border-radius: 4px;
  }

 button{
    width: 100px !important;
    margin-left: 20px;
    margin-top: 30px;
 }
  .view-more-btn,
  .signIn-btn {
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .view-more-btn:hover,
  .signIn-btn:hover {
    background-color: darkblue;
  }

  .job-offers .view-more-btn{
   width: 150px !important;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .job {
      width: calc(100% - 20px);
    }
  
    .company-list {
      width: calc(100% - 20px);
    }
  
    .hero-text-section h1 {
      font-size: 24px;
    }
  }
  