.navbar {
  display: flex;
  align-items: center; /* Keep items aligned */
  padding: 15px 20px; /* Reduced padding */
  background-color:var(--primary-color);
}

.logo {
  font-weight: bold;
  margin-right: 30px; /* Adjust this value as needed */
}

.search-container {
  position: relative;
  flex-grow: 1; /* Allow search bar to take remaining space */
}

.search-container input {
  padding: 10px 50px;
  height: 30px;
  border: none;
  border-radius: 6px;
  color: black;
  border: 1px solid  #aaa;
}

.search-container input::placeholder {
  color: #aaa;

}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  color: #aaa;
  transform: translateY(-50%);
  pointer-events: none;
}

.nav-links {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.nav-links a {
  color: black;
  text-decoration: none;
}

.auth-button {
  padding: 8px 12px;
  border-radius: 4px;
  background-color:#1a0dab;
  color:white !important;
  border-radius: 10px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.content h2 {
  margin: 10px 0;
  color: #333; /* Adjust as needed */
}

.content p {
  color: #666; /* Adjust as needed */
}




@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .search-container {
    margin: 10px 0;
  }

  .nav-links {
    flex-direction: column;
    gap: 10px;
  }
}
