@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

body {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color:white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  flex-wrap: wrap; /* Allow wrapping */
}

.navbar a {
  text-decoration: none;
  color: #000;
  margin-right: 20px;
  font-size: var(--font-size);
  position: relative;
  transition: color 0.3s;
}

.navbar a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #0073b1;
  transition: width 0.3s ease;
}

.navbar a:hover::after {
  width: 100%;
  left: 0;
  background: #0073b1;
}

.navbar a:hover {
  color: #0073b1;
}

.navbar a.active {
  border-bottom: 2px solid #0073b1;
  padding-bottom: 5px;
}

.navbarData {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Full width */
  max-width: 1200px; /* Set a max width */
  margin: 0 auto; /* Center it with auto margins */
  padding: 0 20px; /* Add padding for spacing */
}

.navbarData h1{
  font-size:var(--heading1);
  margin-top: 35px;
}

.search-bar {
  position: relative;
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 10px 40px; /* Add padding on the left for the icon */
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: var(--font-size);
  width: 100%; /* Make the input full width */
  box-sizing: border-box; /* Include padding in width calculation */
}

.search-icon {
  position: absolute;
  left: 10px; /* Position the icon inside the input */
  color: #0073b1;
  pointer-events: none; /* Prevent clicks on the icon */
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 10px; /* Space between image and buttons */
}

.buttons{
  display: flex;
}

.signIn-btn{
  width: 30px;
  height: 30px;
  font-size:var(--font-size);
}

.signup{
  width: 30px;
  height: 30px;
  font-size: var(--font-size);
}

.employer{
  width: 30px;
  height: 30px;
  font-size: 11px;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .navbarData {
    flex-direction: column; /* Stack items vertically on small screens */
    align-items: stretch; /* Full width */
  }

  .search-bar {
    margin: 10px 0; /* Margin between elements */
  }
}