@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #ececf8; */
}


code {
  font-family: "Inter", sans-serif;
}

:root{
  --primary-color:#F6F7FF;
  --second-color:#006DC3;
  --cardsColor:#ffffff;
  --text-color1:black;
  --text-color2:white;


  --heading1:30px;
  --heading2:16px;
  --font-size:13px;
  --paragarph:13px;
}
